$primary: hsl(0, 0, 0);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@mixin text($s, $l) {
    color: hsl(0, $s, $l);
}

@mixin bg($s, $l, $a) {
    background-color: hsla(0, $s, $l, $a);
}

@mixin btn($s, $l, $a) {
    background-color: hsla(180, $s, $l, $a);
}

:root {
    @include bg(10, 10, 1);
}

.navbar {
    width: 100%;
    height: 60px;
    @include bg(0, 40, 1);
    padding: 15px;
    
    .navbar-brand {
        @include text(0, 80);
    }

    .btn-add-new-post {
        @include btn(0, 70, .7);
        border-radius: 25px;
    }
    
    .btn-add-new-post:hover {
        @include btn(0, 80, 1);
        transition: .7s;
    }
}

.posts {
    @include bg(0, 20, 1);
    color: white;
    padding: 15px; 
} 

.create-post {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px;
    @include bg(0, 0, .9);

    h3 {
        @include text(0, 90);
    }

    .btn-primary {
        @include btn(0, 100, 1);
    }
}

.post {
    @include bg(0, 25, .8);
    padding: 15px;
    border-radius: 5px;
    white-space: pre-line;
}



